<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Template</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <nav>
    <tr>
      <td><a href="/">HOME</a></td>
      <td><a href="/dashboard">PRODUTOS</a></td>
    </tr>
  </nav>
  <hr>
  {{{body}}}
  <br>
  <hr>
  <footer>
    <p>Direitos reservados: João Victor Parussulo Avelino 2024 &copy;</p>
  </footer>

</body>

</html>