/Estrutura de Dados I/SelectionSort_Exerc2/nbproject/private/
/Estrutura de Dados I/SelectionSort_Exerc2/build/
/Estrutura de Dados I/Vetor_Exerc1/build/
/Estrutura de Dados I/Vetor_Exerc1/nbproject/private/
/Estrutura de Dados I/Aula06Exercicio01/nbproject/private/
/Estrutura de Dados I/Aula06Exercicio01/build/
/Estrutura de Dados I/aletorizarVetor/nbproject/private/
/Estrutura de Dados I/aletorizarVetor/build/
/Estrutura de Dados I/buscaBinariaBuscaSequencial/nbproject/private/
/Estrutura de Dados I/buscaBinariaBuscaSequencial/build/
