<link rel="stylesheet" href="/css/style.css">

<h1>Bem vindos a página Produtos</h1>

<h3>Essa é a página dos produtos</h3>

<div id="contato">
    <img src="{{imagePath}}" alt="Minha Imagem">
    <p>Contato: joaovictor_avelino@hotmail.com</p>
</div>