<h1>OLÁ BEM VINDO</h1>
<h1>TEMPLATE HANDLEBARS</h1>
<P>Agora tudo que alterar aqui vai aparecer no body do main.handlebars</P>
<p>O nome do usuário é: {{user.name}} {{user.surname}}</p>
<br>
<h2>{{palavra}}</h2>
{{#if auth}}
    <p>Você está logado <a href="/dashboard">CLIQUE AQUI</a></p>
{{/if}}