@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

body{
    background-image: url(./img/fundo.jpg);
    background-size: cover; /* Dimensiona a imagem para cobrir todo fundo */
}

header{
    display: flex;
    top: 0%;
    background-color: #363636;
    height: 190px;
    margin: 0px 200px;
    border-bottom: 4px solid #696969;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

header > div > h1{
    font-family: Cinzel;
    color: #FFFFFF;
    margin: 40px 0px 0px 90px;
    text-shadow: 0 0 10px white;
}

nav ul{
    list-style: none;
    display: flex;
    margin: 45px 20px 0px 90px;
}

.btn{
    font-family: Cinzel;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 15px;
    text-decoration: none;
    background-color: #000000;
    padding: 8px;
    text-align: center;
    border-radius: 10px;
    margin-right: 100px;
    border-bottom: 4px solid #696969;
}

.btn:hover{
    background-color: #696969; 
}

#perfil{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    margin-top: 20px;
}

section{
    min-height: 60vh;
}

#index{
    background-color: #C0C0C0;
    margin: 50px 200px 20px 200px;
    padding: 70px 5% 5%;
    border-radius: 10px;
}

#index > h1{
    font-family: Cinzel;
    color: #FFFFFF;
    font-size: 30px;
}

#vidaPessoal{
    background-color: #C0C0C0;
    margin: 50px 200px 20px 200px;
    padding: 70px 5% 5%;
    border-radius: 10px;
}

#vidaPessoal > h1{
    font-family: Cinzel;
    color: #FFFFFF;
    font-size: 30px;
}

#vidaProfissional{
    background-color: #C0C0C0;
    margin: 50px 200px 20px 200px;
    padding: 70px 5% 5%;
    border-radius: 10px;
}

#vidaProfissional > h1{
    font-family: Cinzel;
    color: #FFFFFF;
    font-size: 30px;
}

#tecnologias{
    background-color: #C0C0C0;
    margin: 50px 200px 20px 200px;
    padding: 70px 5% 5%;
    border-radius: 10px;
}

#tecnologias > h1{
    font-family: Cinzel;
    color: #FFFFFF;
    font-size: 30px;
}

footer{
    border-top: 4px solid #696969;
    background-color: #363636;
    height: 40px;
    text-align: center;
}

small{
    color: #FFFFFF;
}

#formContador{
    display: flex;
    justify-content: center;
    margin: 50px 200px 0px 200px;
}

#contador{
    width: 200px;
    height: 200px;
    margin-right: 190px;
}

#programador{
    width: 200px;
    height: 200px;
}

#linguagens{
    display: flex;
    justify-content: center;
    margin: 20px 200px 0px 200px;
}

#javascript{
    width: 200px;
    height: 200px;
    margin: 0px 60px;
}

.logo{
    width: 200px;
    height: 200px;
}