<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
</head>
<body>
    <nav>
        <ul>
            <li>Home</li>
            <li>Descrição</li>
            <li>Dashboard</li>
            <li>Logar</li>
        </ul>
    </nav>
    {{{body}}}
    <footer>
        <p>Rodapé Especial</p>
    </footer>
</body>
</html>